﻿@{
    ViewBag.Title = "Home Page";
}

<h3>Instructions:</h3>
<ol class="round">
    <li class="one">
        <h5>Manage clients</h5>
        Use the client tab to create, edit, and view clients.
    </li>

    <li class="two">
        <h5>Manage service orders</h5>
        Use the Service Order tab to create, edit, and view service orders.
    </li>
</ol>
<ul>
    <li>
        Current Number of Sessions:  @HttpContext.Current.Application["SiteCounter"]
    </li>

    <li>
        Current Session Start: @HttpContext.Current.Session["SessionStart"]
    </li>
</ul>