﻿@model RMS_MVC.Models.ServiceOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ServiceOrder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProblemDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProblemDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepairComments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepairComments)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
