﻿@model RMS_MVC.Models.ServiceOrder

@{
    ViewBag.Title = "Update Service Order";
}

<h2>Update Service Order</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ServiceOrder</legend>

        @Html.HiddenFor(model => model.ServiceOrderID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID, "Client")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClientID", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manufacturer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manufacturer)
            @Html.ValidationMessageFor(model => model.Manufacturer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProblemDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProblemDescription)
            @Html.ValidationMessageFor(model => model.ProblemDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepairComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepairComments)
            @Html.ValidationMessageFor(model => model.RepairComments)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
