﻿@model IEnumerable<RMS_MVC.Models.ServiceOrder>

@{
    ViewBag.Title = "Service Orders";
}

<h2>Service Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Service Order
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            Serial Number
        </th>
        <th>
            Problem Description
        </th>
        <th>
            Repair Comments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceOrderID })
        </td>
    </tr>
}

</table>
